* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body,
.startscreen,
.tutscreen {
    background: #ccc;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 25px;
}

ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamebox {
    width: 100%;
    margin: 0 auto;
    height: 100dvh;
    position: relative;
}

.startscreen,
.tutscreen {
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    
}

.startscreen {  
    display: flex; 
    align-items: center; 
}

.tutscreen {
    display: none;
    padding: 10px;
    line-height: 1.3rem;
    align-items: center;
}

.tutscreen p,
.tutscreen div {
    margin-bottom: 1em;
    
}

.tutscreen .btn {
    margin: 0 auto;
}

.enemybox {
    height: 240px;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

.enemybox img {
    height: 55%;
    margin-top: 10px;
    outline: none;
}

.textbox {
    height: 90px;
    margin: 0 5px;
    padding: 5px;
    border-top: solid #000 2px;
    border-bottom: solid #000 2px;
    text-align: center;
    font-size: 18px;
}

.statbox {
    height: 90px;
    flex-direction: column;
    font-size: 18px;
}

.btnbox {
    padding-top: 20px;
}



.btn {
    height: 40px;
    padding: .5em 0;
    border: none;
    font-size: 18px;
    letter-spacing: -.5px;
    color: #000;
    background: #f9f9f9;
    cursor: pointer;
}
.btn:active{
    background: #e5e5e5;
}

.btnmini{
    background: none;
    width: 80px;
    position: absolute;
    top: 0;
    bottom: 100%;
}

.btnmini:hover{
    border: dotted #000 2px;
}

.btn-move,
.btn-prog {
    width: 90px;
    margin-right: 10px;
}

.btnbox .btn-move:nth-child(3),
.btn-prog:last-of-type {
    margin-right: 0;
}

.title {
    margin-bottom: 10px;
    text-decoration: underline;
}

.btn-start-screen,
#break-btn {
    width: 120px;
}

.btn-red {
    background: #f55;
}
.btn-red:active{
    background: #c33;
}

.btn-green {
    background: #3a3;
}
.btn-green:active {
    background: #282;
}

.btn-blue {
    background: #55f;
}
.btn-blue:active{
    background: #44c;
}

.btn-red,
.btn-green,
.btn-blue {
    color: #fff;
}

@media (min-width: 660px){
    .startscreen,
    .tutscreen {
        max-height: 526px;
        max-width: 696px;
        border-radius: 10px;
    }

    .gamebox,
    .playerbox {
        display: flex;
    }
    
    .gamebox {
        width: 80%;
        max-width: 700px;
        max-height: 530px;
        margin-top: 20px;
        border: solid 2px #000;
        border-radius: 10px;
        overflow: hidden;
    }

    .playerbox {
        flex-direction: column;
        justify-content: center;
        width: 55%;
        border-left: solid 2px;
    }

    .enemybox {
        width: 45%;
        height: 100%;
        background: #e8e8e8;
    }

    .enemybox img {
        max-width: 220px;
        object-fit: scale-down;
    }

    .statbox {
        order: -1;
        height: 210px;
        font-size: 20px;
    }

    .btnbox {
        height: 210px;
        align-items: flex-start;
    }
}