.body{
    font-family: 'VT323', monospace;
    font-size: 20px;
    background: rgb(25, 14, 15);
    width: 350px;
    height: 630px;
    border: solid black;
    text-align: center;
}

.enemybox{
    height: 270px;
    text-align: center;
    color: white;
}

.textbox{
    background: white;
    height: auto;
    border: solid rgb(255, 0, 0);
    border-radius: 10px;
}

.statbox{
    color: white;
    border: solid rgb(255, 0, 0);
    border-radius: 10px;
    margin: auto;
    padding-bottom: 15px;
}

button {
    font-size: medium;
    color: white;
    margin: 5px;
    border-radius:2em;
    transition: all 0.2s;
}

button:hover{
    border-color: white;
}

